/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1em;
    font-family: 'DotGothic16', sans-serif;
    background: black;
    color:#38b000;
    float: center;
    padding: 20px;
    text-align: center;
    margin-top: 130px;
  }
  
  /*
  **** Layout ****
  */
  
  .mensagem {
    color: #38b000;
    font-size: 18px;
  }
  
  .botao {
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: #38b000;
    border: 1px solid #38b000;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  /*
  **** Animações ****
  */

  button {
    transform: scale(1);
  }
  
  button:hover {
    transform: scale(1.2);
  }
  
  /*
  **** Formatações em geral ****
  */
  
  h1 {
    color: #38b000;
    font-size: 2.5em;
  }


  
  button p {
    color: white;
    font-family: 'DotGothic16', sans-serif;
  }
  
  input {
    text-indent: 3px;
    font-size: 14px;
    margin: 5px;
    padding: 4px;
    width: 265px;
    background-color: #333533;
    border: 1px solid #38b000;
    border-radius: 5px;
    color: white;
  }

  textarea {
    text-indent: 3px;
    font-size: 15px;
    margin: 5px;
    background-color: #333533;
    border: 1px solid #38b000;
    border-radius: 5px;
    color: white;
  }

  footer {
    margin-top: 10px;
  }

  ::placeholder{
    text-indent:3px;
    font-size: 13px;
    color: white;
    opacity: 50%;
  }